# .NET Core
bin/
obj/
*.user
*.userosscache
*.sln.docstates
appsettings.Development.json

# Node.js
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/
*.swp
*.bak
*.tmp
*.DS_Store

# Misc
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
!src/
!public/
!student-frontend/
!StudentAPI/
!database/
